@model IEnumerable<JCCCAppProj.Models.UserLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastApplyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastApplyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserLogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserLogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserLogID })
        </td>
    </tr>
}

</table>
